<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Ballon" %></h1>
  <p>Peace of mind from prototype to production</p>
  <%= button "Create a new Account", to: Routes.user_registration_path(@conn, :new), method: :get %>
  <%= button "Login to your Account", to: Routes.user_session_path(@conn, :new), method: :get %>
  <%= button "Upload", to: Routes.live_path(BallonWeb.Endpoint, BallonWeb.UploadLive), method: :get%>
</section>
